/*generales*/
body {
  background-image: url(../imagenes/foto9.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  body .fondo {
    background-color: rgba(0, 0, 0, 0.349); }

h1 {
  font-family: "dancing script";
  font-size: 100px;
  color: #f0d3d3;
  text-align: center; }

h2 {
  color: #993196;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

p {
  color: white;
  font-size: 28px;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

main .EspacioDelMenu {
  margin-top: 30px; }

nav ul {
  flex-direction: row; }
  nav ul li {
    font-style: normal;
    flex-direction: row; }

/*estilos index*/
p.nuestro {
  font-family: 'Oswald', sans-serif;
  margin-top: 30px; }

.carousel-inner {
  text-align: center;
  justify-content: center; }

/*estilos contacto*/
form {
  text-align: center;
  font-style: normal;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }

/*estilos galeria*/
.galeria {
  margin-top: 10px; }

.fotosgaleria {
  text-align: center; }

/*estilos servicios*/
#FotosCardServicios {
  display: flex;
  justify-content: center;
  align-content: center; }

/*estilos footer*/
footer {
  font-size: 20px;
  margin-top: 8px;
  text-align: center;
  background-image: linear-gradient(to left, rgba(70, 30, 95, 0.466), rgba(245, 60, 205, 0.466)); }
  footer p.footer {
    color: white;
    font-size: 17px;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 8px; }
  footer a {
    text-decoration: none;
    color: #e6aee1; }
  footer :hover {
    color: #290b3b; }
