$colorSubtitulo: rgb(153, 49, 150);
@mixin text ($TipoLetra, $FamiliaLetra){
    font-family: $FamiliaLetra;
    font-size: $TipoLetra;
}

/*generales*/
body {
    background-image: url(../imagenes/foto9.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .fondo {
        background-color: rgba(0, 0, 0, 0.349);
    }

}

h1{
    @include text(100px, 'dancing script');
    color: rgb(240, 211, 211);
    text-align: center;
}

h2 {
    color: $colorSubtitulo;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p {
    color: rgb(255, 255, 255);
    font-size: 28px;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}

main {
     
    .EspacioDelMenu{
        margin-top: 30px;
    }
}

nav {
    ul {    
        flex-direction: row;
    
        li {
            font-style: normal;
            
            flex-direction: row;
        }
    }
}

/*estilos index*/
p.nuestro{
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;  
}
.carousel-inner{
    text-align: center;
    justify-content: center;
}
    
/*estilos contacto*/
form {
    text-align: center;
    font-style: normal;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*estilos galeria*/
.galeria{
    margin-top: 10px;
}
.fotosgaleria{
    text-align: center;
}

/*estilos servicios*/
#FotosCardServicios{
    display: flex;
    justify-content: center;
    align-content: center;
}

/*estilos footer*/
footer {
    font-size: 20px;
     
    margin-top: 8px;
    text-align: center;
    background-image: linear-gradient(to left, rgba(70, 30, 95, 0.466), rgba(245, 60, 205, 0.466));
    p.footer {
        color: rgb(255, 255, 255);
        font-size: 17px;
        line-height: 1.2;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin-top: 8px;
    }  
    a {
        text-decoration: none;
        color:rgb(230, 174, 225);
        
    }
    :hover {
        color:rgb(41, 11, 59);
        
    }
}